.home-header {
    height: 150vh;
    position: relative;
    padding: 0 12%;
}

.home-header_text-holder {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 100px;
}

.home-header_text-holder p {
    font-family: 'Aeonik-Regular';
    font-size: 18px;
    color: var(--primary-color);
    margin: 0;
}

.home-header_text-holder h1 {
    font-family: 'ClashDisplay-Semibold';
    font-size: 50px;
    margin: 0;
}

.home-header_text-holder h4 {
    font-family: 'Aeonik-Regular';
    font-size: 20px;
    color: var(--color-100);
    font-weight: normal;
    width: 70%;
    margin: 15px 0;
}

.home-header_buttons {
    margin-top: 30px;
    align-items: center;
    display: flex;
    gap: 30px;
}

.home-header_image-holder {
    position: absolute;
    z-index: -1;
    top: 250px;
    right: 13%;
    width: auto;
    height: auto;
}

.home-header_image {
    width: 1090px;
}

.home-header_buttons-mobile {
    display: none;
}

/* here starts the responsive */

@media (max-width: 1600px) {
    .home-header_image {
         width: 1100px;
    }
}

@media (max-width: 1500px) {
    .home-header_image {
         width: 1000px;
    }

    .home-header_image-holder {
         position: absolute;
         top: 300px;

    }
}

@media (max-width: 1400px) {
    .home-header_image {
         width: 900px;
    }

    .home-header {
         height: 130vh;
    }
}

@media (max-width: 1300px) {
    .home-header {
         padding: 0 5%;
    }

    .home-header_image {
         width: 700px;
    }

    .home-header_image-holder {
         position: absolute;
         top: 400px;

    }

    .home-header_text-holder {
         display: flex;
         flex-direction: column;
         width: 70%;
         margin-top: 100px;
    }

    .home-header_text-holder h4 {
         font-family: 'Aeonik-Regular';
         font-size: 20px;
         color: var(--color-100);
         width: 80%;
         margin: 15px 0;
    }
}

@media (max-width: 1100px) {
    .home-header_image {
         width: 800px;
    }

    .home-header_image-holder {
         position: absolute;
         top: 400px;

    }
}


@media (max-width: 1000px) {
    .home-header_text-holder {
         display: flex;
         flex-direction: column;
         width: 70%;
         margin-top: 100px;
    }

    .home-header_text-holder h1 {
         font-family: 'ClashDisplay-Semibold';
         font-size: 44px;
         margin: 0;
    }

    .home-header_text-holder h4 {
         font-family: 'Aeonik-Regular';
         font-size: 18px;
         color: var(--color-100);
         width: 80%;
         margin: 15px 0;
    }

    .home-header_buttons {
         margin-top: 10px;
    }
}


@media (max-width: 900px) {

    .home-header {
         height: 110vh;
    }

    .home-header_image {
         width: 700px;
    }

    .home-header_text-holder {
         display: flex;
         flex-direction: column;
         width: 90%;
         margin-top: 100px;
    }

    .home-header_text-holder h1 {
         font-family: 'ClashDisplay-Semibold';
         font-size: 44px;
         margin: 0;
    }

    .home-header_text-holder h4 {
         font-family: 'Aeonik-Regular';
         font-size: 18px;
         color: var(--color-100);
         width: 80%;
         margin: 15px 0;
    }

    .home-header_image-holder {
         top: 400px;
    }

}

@media (max-width: 800px) {

    .home-header {
         height: 120vh;
    }

    .home-header_image {
         width: 600px;
    }

    .home-header_text-holder {
         width: 90%;
         margin-top: 70px;
    }

    .home-header_text-holder h1 {
         font-family: 'ClashDisplay-Semibold';
         font-size: 28px;
         margin: 0;
    }

    .home-header_text-holder h4 {
         font-family: 'Aeonik-Regular';
         font-size: 18px;
         color: var(--color-100);
         width: 80%;
         margin: 15px 0;
    }

    .home-header_image-holder {
         top: 400px;
    }

}

@media (max-width: 700px) {

    .home-header {
         height: 115vh;
    }

    .home-header_image {
         width: 500px;
    }

    .home-header_text-holder {
         width: 90%;
         margin-top: 70px;
    }

    .home-header_text-holder h1 {
         font-family: 'ClashDisplay-Semibold';
         font-size: 28px;
         margin: 0;
    }

    .home-header_text-holder h4 {
         font-family: 'Aeonik-Regular';
         font-size: 18px;
         color: var(--color-100);
         width: 80%;
         margin: 15px 0;
    }

    .home-header_image-holder {
         top: 500px;
    }

}

@media (max-width: 570px) {

    .home-header_buttons-mobile {
         display: block;
    }

    .home-header_buttons {
         display: none;
    }

    .home-header_image {
         width: 450px;
    }

    .home-header_text-holder {
         width: 100%;
         margin-top: 25px;
    }

    .home-header_text-holder h1 {
         margin-top: 15px;
         font-size: 32px;
    }

}

@media (max-width: 500px) {
    .home-header_image {
         width: 400px;
    }

    .home-header_text-holder {
         width: 100%;
    }

    .home-header_text-holder h1 {
         font-size: 30px;
    }

    .home-header_buttons {
         gap: 20px;
    }
}

@media (max-width: 400px) {
    .home-header_image {
         width: 350px;
    }

    .home-header_image-holder {
         top: 520px;
    }

    .home-header_buttons {
         gap: 10px;
    }
}


/* Here starts Our Services section */

.home-services {
    display: flex;
    flex-direction: column;
    padding: 3% 12% 3% 12%;
    /* background-color: antiquewhite; */
}

.home-services_box {
    display: flex;
}

.home-services_header h1 {
    font-family: 'ClashDisplay-Semibold';
    font-size: 50px;
    margin: 0;
}

.home-services_header h5 {
    color: #FFF;
    font-family: "Aeonik-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: var(--primary-color);
    padding: 6px 15px;
    width: fit-content;
    border-radius: 5px;
}

.container {
    display: flex;
    overflow-x: visible;
    overflow-y: hidden;
    gap: 30px;
    padding: 5% 0;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
         display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container {
    position: relative;
}

.container .box {
    flex: 0 0 auto;
    width: 350px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--Light-Stroke, #E1E0FF);
    background: #FBFBFE;
    box-shadow: 0px 1px 10px 0px rgba(54, 50, 255, 0.05);
    scroll-snap-align: start;
}

.box h5 {
    flex: 1;
    color: var(--Header-Color, #010046);
    text-align: center;
    font-family: 'ClashDisplay-Semibold';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.box p {
    margin: 0;
    color: var(--color-100);
    text-align: center;
    font-family: 'Aeonik-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    outline: none;
}



.left-button {
    background-color: transparent;
    display: inline-block;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    font-family: "Aeonik-Regular";
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    border: 1px solid var(--Primary-Color, #3632ff);
    -webkit-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -ms-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.right-button {
    display: inline-block;
    background-color: transparent;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    font-family: "Aeonik-Regular";
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    border: 1px solid var(--Primary-Color, #3632ff);
    -webkit-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -ms-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.left-button:hover,
.right-button:hover {
    color: #fff;
    transform: scale(0.99);
    background: var(--Primary-Color, #3632ff);
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
}

.previous-arrow {
    margin-right: 5px;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.left-button:hover .previous-arrow {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
}

.next-arrow {
    margin-left: 5px;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.right-button:hover .next-arrow {
    transform: translateX(10px);
    /*Movethearrow10pxtotherightonhover*/
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    -webkit-transform: translateX(10px);
}

/* Here starts our services responsive css */

@media (max-width: 1300px) {
    .home-services {
         padding: 0 5%;
    }
}

@media (max-width: 1120px) {
    .home-services_box {
         display: flex;
         flex-direction: column;
         gap: 30px;
    }

    .buttons {
         display: flex;
         justify-content: flex-start;
    }
}

@media (max-width: 1000px) {
    .home-services_header h1 {
         font-size: 44px;
         font-family: 'ClashDisplay-Semibold';
    }
}

@media screen and (max-width: 800px) {
    .home-services_header h1 {
         font-size: 28px;
    }

    .container .box {
         flex: 0 0 auto;
         width: 310px;
         padding: 20px 15px;
         gap: 15px;
    }

    .container .box img {
         width: 80px;
    }

    .box h5 {
         flex: 1;
         color: var(--Header-Color, #010046);
         text-align: center;
         /* font-family: "Clash Display-Regular"; */
         font-size: 20px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
         margin: 0;
    }

    .box p {
         margin: 0;
         color: var(--color-100);
         text-align: center;
         /* font-family: "Clash Display-Regular"; */
         font-size: 16px;
    }
}

/* Here starts our process section */

.home-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 12% 7% 12%;
}

.home-process_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.home-process_header h1 {
    font-family: 'ClashDisplay-Semibold';
    font-size: 50px;
    margin: 0;
    width: 800px;
    text-align: center;
}

.home-process_header h5 {
    color: #FFF;
    font-family: "Aeonik-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: var(--primary-color);
    padding: 6px 15px;
    width: fit-content;
    border-radius: 5px;
}



.home-process_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    /* width: 80%; */
}

.home-process_container-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-radius: 35px;
    border: 1px solid var(--Light-Stroke, #E1E0FF);
    background: #FBFBFE;
    box-shadow: 0px 1px 10px 0px rgba(54, 50, 255, 0.05);
}

.home-process_container-box-text h3 {
    margin: 0;
    font-family: 'ClashDisplay-Semibold';
    font-size: 22px;
    font-style: normal;
    color: #3632FF;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.home-process_container-box-text p {
    margin: 0;
    font-family: 'Aeonik-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.spacer {
    margin: 30px 0;
}

/* Here starts our process responsive css */

@media (max-width: 1300px) {
    .home-process {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 3% 5% 7% 5%;
    }
}

@media (max-width: 1100px) {
    .home-process_container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 20px;
         margin-top: 20px;
         /* width: 80%; */
    }

    .home-process_header h1 {
         font-family: 'ClashDisplay-Semibold';
         font-size: 44px;
         margin: 0;
         width: 100%;
         text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .home-process_header h1 {
         font-family: 'ClashDisplay-Semibold';
         font-size: 28px;
         margin: 0;
         width: 100%;
         text-align: center;
    }

    .home-process_container-box {
         gap: 20px;
         padding: 20px;
    }

    .home-process_container-box img {
         width: 80px;
    }

    .home-process_container-box h3 {
         font-size: 20px;
    }

    .home-process_container-box p {
         font-family: 'Aeonik-Regular';
         font-size: 16px;
    }
}

/* Here starts portfolio section */


.home-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0 80px 0;
    color: #ffff;
    background-color: var(--color-400);
}

.home-portfolio_container {
    padding: 3% 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-portfolio_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    gap: 20px;
}

.home-portfolio_header h1 {
    font-family: 'ClashDisplay-Semibold';
    font-size: 50px;
    margin: 0;
    width: 100%;
}

.home-portfolio_header h5 {
    color: var(--primary-color);
    font-family: "Aeonik-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #fff;
    padding: 6px 15px;
    width: fit-content;
    border-radius: 5px;
}

.contact-btn-portfolio a {
    display: inline-block;
    text-align: center;
    padding: 12px 30px;
    align-items: center;
    line-height: 24px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-family: "Aeonik-Regular";
    border-radius: 10px;
    background: var(--Primary-Color, #3632ff);
    box-shadow: 0px 0px 6.2px 0px rgba(54, 50, 255, 0.3);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out,
         transform 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contact-btn-portfolio a:hover {
    background: #50507e;
    color: #fff;
    transform: scale(0.95);
    box-shadow: 0px 0px 6.2px 0px rgba(10, 10, 46, 0.3);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}


.our-services-btn-outline-white a {
    display: inline-block;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-family: Clash Display;
    font-size: 18px;
    font-family: "Aeonik-Regular";
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    border: 1px solid #FFF;
    -webkit-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -ms-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.our-services-btn-outline-white a:hover {
    color: #fff;
    transform: scale(0.96);
    background: var(--Primary-Color, #3632ff);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
}

@media (max-width: 1300px) {
    .home-portfolio_container {
         padding: 3% 5%;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
    }
}

@media (max-width: 1100px) {
    .home-portfolio_container {
         padding: 3% 5%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         gap: 30px;
    }

    .home-portfolio_header h1 {
         font-family: 'ClashDisplay-Semibold';
         font-size: 44px;
         margin: 0;
         width: 100%;
    }

    .home-portfolio_buttons {
         display: flex;
         justify-content: flex-start;
    }
}

@media (max-width: 800px) {
    .home-portfolio_header h1 {
         font-size: 28px;
         font-family: 'ClashDisplay-Semibold';
    }
}

.bouncing {
     animation: bounce 2s ease-in-out infinite;
   }
 .logo{
     display: flex;
     align-items: center;
 
 }
 
   @keyframes bounce {
     0%, 100% {
       transform: translateY(0);
     }
     50% {
       transform: translateY(-10px);
     }
   }


   
   
   
   