.contact-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 12% 7% 12%;
}

.contact-process_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}


.contact-process_header h1 {
    font-family: 'ClashDisplay-Semibold';
    font-size: 50px;
    margin: 0;
    width: 80%;
    text-align: center;
}

.contact-process_header h5 {
    color: #FFF;
    font-family: "Aeonik-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: var(--primary-color);
    padding: 6px 15px;
    width: fit-content;
    border-radius: 5px;
}

.contact-process_header h4 {
    font-family: 'Aeonik-Regular';
    font-size: 20px;
    color: var(--color-100);
    margin: 15px 0;
    display: none;
}

.contact-process_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 5%;
    margin-top: 20px;
    width: 100%;
}

.contact-process_container-box {
    width: 90%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 20px;
    padding: 40px;
    border-radius: 35px;
    border: 1px solid var(--Light-Stroke, #E1E0FF);
    background: #FBFBFE;
    box-shadow: 0px 1px 10px 0px rgba(54, 50, 255, 0.05);
}

.contact-process_container-box img {
    width: 200px;
}

.contact-process_container-box-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-process_container-box-text h3 {
    margin: 0;
    font-family: 'ClashDisplay-Semibold';
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact-process_container-box-text p {
    margin: 0;
    font-family: 'Aeonik-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.contact-spacer {
    margin: 30px 0;
}

@media(max-width: 1300px) {
    .contact-process {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 3% 5% 7% 5%;
    }
}

@media(max-width: 1000px) {
    .contact-process_header h1 {
         font-family: 'ClashDisplay-Semibold';
         font-size: 44px;
         margin: 0;
         width: 100%;
         text-align: center;
    }

    .contact-process_container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 20px;
         margin-top: 20px;
         width: 100%;
         padding: 0 5%;
    }

    .contact-process_container-box img {
         width: 80px;
    }
}

@media(max-width: 800px) {
    .contact-process_header h1 {
         font-family: 'ClashDisplay-Semibold';
         font-size: 36px;
    }

    .contact-process_container-box {
         padding: 20px;
    }
}